.gra{
    background-color: rgb(8, 161, 115) 0%;
    //background-color: linear-gradient(197deg, rgb(8, 161, 115) 0%, rgb(33, 221, 180) 13.5%, rgb(27, 187, 139) 33.33%, rgb(3, 141, 111) 100%) !important;
}
.img{
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: 80px;
}

.centerH3{
    align-content: center;
    text-align: center;
    font-family: Verdana;

}